.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right-panel{
   grid-column: 2;
}
.image-panel img{
    grid-column: 1;
}

.top-section{
	display: flex;
	flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 30px;
}
.form-container{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
}
.form-container label{
    display: flex;
    row-gap: 10px;
   

}
.form-container button{
    padding: 10px 25px;
    background-color: green;
    border-radius: 8px;
    color: white;
}


.site-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f5f5f5;
    
}
