* {
    margin: 0;
    padding: 0;
}
body,html{
    margin: 0;
    padding:0;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "left right";
    height: 100vh;
}
.right-panel{
    display:flex;
    flex-direction: column;
    justify-content:center;
   grid-area: right;
}
.image-panel img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}
.image-panel{
    grid-area: left;
    height: 100vh;
}

.top-section{
    background-color: #f5f5f5;
    padding: 30px;
}
.form-container{
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100%;
}

.form-container button{
    padding: 10px 25px;
    background-color: green;
    border-radius: 8px;
    color: white;
}
fieldset{
    border: none;
    padding: 0;
}
.form-container fieldset{
    border: none;
    padding: 0;
}
.form-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    margin-bottom: 16px;
}

label{
    letter-spacing: 0.5px;
}
input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


